@use "css/main";
@use "css/buttons";
@use "css/navigation";
@use "css/treeview";
@use "css/dialogs";
@use "css/colors";
@use "css/tabview";
@use "css/toolbar";
@use "css/slider";
@use "css/textinput";
@use "pages/sprite/sprite";

* {
    -webkit-app-region:no-drag;
}

.left-list {
    @extend %vbox;
    align-items: stretch;
    justify-content: stretch;
    width: 256px;
    min-width: 256px;
    max-width: 50%;
    position: relative;
}

.preview {
    width: 100%;
    height: 200px;
    min-height: 200px;

    background-color: var(--surface-color);
    border-bottom: 1px solid var(--on-surface-color-a3);
}

.tree-owner {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

.divider {
    min-width: 8px;
    width: 8px;
    height: 100%;

    cursor: ew-resize;
}

//-------------------------FLOATING BUTTON MENU-------------------------//
#floating-menu {
    position: absolute;
    left: 0;
    top: 0;
}
#floating-add {
    i {
        transition: all 0.5s ease;
    }
}
#floating-add.open {
    --btn-color-bg : var(--on-surface-color);
    --btn-color-text : var(--surface-color);
    i {
        transform: rotate(45deg);
    }
}

.floating-creation {
    @extend %vbox;
    position: absolute;
    right: 16px;
    bottom: 56px;
    border-radius: 100px;

    width: 36px;

    > .button {
        position: relative;
        margin-bottom: 8px;
        color: white;
        right: 0;
        bottom: 0;
        overflow: visible;

        > .tooltip {
            @extend %elevation-6;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            position: absolute;
            right: 48px;
            background-color: var(--tooltip-color);
            color: var(--on-tooltip-color);
            border-radius: 2px;
            font-weight: lighter;
            padding: 4px 8px 4px 8px;
            text-transform: capitalize;
            pointer-events: none;
        }
    }
    .button.red {
        background-color: colors.$color-pink-300;
        &:hover {
            background-color: colors.$color-pink-400;
        }
        &:focus, &:active {
            background-color: colors.$color-pink-500;
        }
    }
    .button.orange {
        background-color: colors.$color-red-300;
        &:hover {
            background-color: colors.$color-red-400;
        }
        &:focus, &:active {
            background-color: colors.$color-red-500;
        }
    }
    .button.yellow {
        background-color: colors.$color-brown-300;
        &:hover {
            background-color: colors.$color-brown-400;
        }
        &:focus, &:active {
            background-color: colors.$color-brown-500;
        }
    }
    .button.grey {
        background-color: colors.$color-blue-grey-300;
        &:hover {
            background-color: colors.$color-blue-grey-400;
        }
        &:focus, &:active {
            background-color: colors.$color-blue-grey-500;
        }
    }
    .button.green {
        background-color: colors.$color-green-300;
        &:hover {
            background-color: colors.$color-green-400;
        }
        &:focus, &:active {
            background-color: colors.$color-green-500;
        }
    }
    .button.blue {
        background-color: colors.$color-blue-300;
        &:hover {
            background-color: colors.$color-blue-400;
        }
        &:focus, &:active {
            background-color: colors.$color-blue-500;
        }
    }
    .button.purple {
        background-color: colors.$color-purple-300;
        &:hover {
            background-color: colors.$color-purple-400;
        }
        &:focus, &:active {
            background-color: colors.$color-purple-500;
        }
    }

}
//-------------------------NAVIGATION DRAWER-------------------------//
.drawer {
    @extend %vbox;

    > .button {
        justify-content: start;
        color: var(--on-surface-color);
        margin: 0 8px 0 8px;
        text-transform: capitalize;
        font-weight: normal;

        i {
            margin-right: 32px;
            font-size: 24px;
            color: var(--on-surface-color-a2);
        }

        &:active, &:focus {
            color: var(--primary-color);
            i {
                color: var(--primary-color);
            }
        }
    }
    > .separator {
        width: 100%;
        height: 1px;
        margin: 8px 0 8px 0;
        background-color: var(--on-surface-color-a3);
    }
}
.drawer-header {
    @extend %hbox;
    background-color: var(--surface-color);
    padding: 24px 16px 24px 16px;
    height: 96px;

    .icon {
        margin-right: 8px;
    }
    > .vbox {
        margin: 8px;
        .title {
            color: var(--on-surface-color);
            font-size: 16px;
            font-weight: bold;
        }
        .subtitle {
            color: var(--on-surface-color-a1);
            font-size: 12px;
        }
    }
}

//-------------------------EDITORS TABS-------------------------//

.negative-floating {
    @extend %vbox;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    z-index: 12;
    margin-top: -48px;
    overflow: hidden;

    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
    height: calc(100% + 40px);
    width: 100%;
    border-radius: 4px;
    background-color: var(--background-color);

    .top-bar {
        width: 100%;
        height: 48px;
        background-color: var(--on-color);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        z-index: 14;
    }
}
#main-tab-content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.tab-view .tab-page.selected {
    border-bottom: 0;

    > i {
        color: var(--on-color);
    }

    .tab-close {
        visibility: hidden;
        pointer-events: none;
    }

    .tab-title {
        color: var(--surface-color);
    }
}
.tab-view .tab-page.sprite {
    > i {
        color: colors.$color-pink-400;
    }
    &.selected {
        background-color: colors.$color-pink-400;
        > i {
            color: var(--on-color);
        }
    }
}
.tab-view .tab-page.sound {
    > i {
        color: colors.$color-red-400;
    }
    &.selected {
        background-color: colors.$color-red-400;
        > i {
            color: var(--on-color);
        }
    }
}
.tab-view .tab-page.font {
    > i {
        color: colors.$color-brown-400;
    }
    &.selected {
        background-color: colors.$color-brown-400;
        > i {
            color: var(--on-color);
        }
    }
}
.tab-view .tab-page.script {
    > i {
        color: colors.$color-green-400;
    }
    &.selected {
        background-color: colors.$color-green-400;
        > i {
            color: var(--on-color);
        }
    }
}
.tab-view .tab-page.object {
    > i {
        color: colors.$color-blue-400;
    }
    &.selected {
        background-color: colors.$color-blue-400;
        > i {
            color: var(--on-color);
        }
    }
}
.tab-view .tab-page.scene {
    > i {
        color: colors.$color-purple-400;
    }
    &.selected {
        background-color: colors.$color-purple-400;
        > i {
            color: var(--on-color);
        }
    }
}
.editor {
    @extend %vbox;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: start;
    &.sprite > .toolbar {
        background-color: colors.$color-pink-400;
    }
    &.sound > .toolbar {
        background-color: colors.$color-red-400;
    }
    &.font > .toolbar {
        background-color: colors.$color-brown-400;
    }
    &.script > .toolbar {
        background-color: colors.$color-green-400;
    }
    &.object > .toolbar {
        background-color: colors.$color-blue-400;
    }
    &.scene > .toolbar {
        background-color: colors.$color-purple-400;
    }
}

.low-height {
    height: 100%;
    width: 0;
    display: none;
}

@media (max-height: main.$low-height) {
    .low-height {
        display: flex;
    }
    .negative-floating {
        margin-top: -88px;
        height: calc(100% + 80px);
    }
}