@use "colors";
@use "main";

.button {
    @extend %hbox-center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.25s ease-in,
                color 0.25s ease-in,
                box-shadow 0.25s ease-in;

    min-width: 64px;
    min-height: 36px;
    height: 36px;
    border-radius: 4px;
    padding: 0 16px 0 16px;

    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;

    user-select: none;

    --btn-color-text : var(--on-surface-color);
    --btn-color-bg : var(--surface-color);
    --btn-color-bg-hover : var(--surface-color-hover);
    --btn-color-bg-active : var(--surface-color-active);
    --btn-color-bg-ripple : var(--surface-color-ripple);
    --btn-color-bg-hover-a : var(--surface-color-hover-a4);
    --btn-color-bg-active-a : var(--surface-color-active-a2);

    --btn-color-text-disabled : var(--disabled-color);
    --btn-color-bg-disabled : var(--on-disabled-color);
}

.button > span {
    z-index: 1;
}

.button > i {
    z-index: 1;
    margin: 0 8px 0 -4px;
    font-size: 18px;
}

.button.disabled {
    opacity: 0.5;
    cursor: default;
    .ripple {
        display: none !important;
    }
}

.button.contained {
    color: var(--btn-color-text);
    background-color: var(--btn-color-bg);

    @extend %elevation-2;

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover);
        @extend %elevation-4;
    }
    &:active {
        background-color: var(--btn-color-bg-active);
        @extend %elevation-8;
    }

    &.disabled {
        color: var(--btn-color-text-disabled);
        background-color: var(--btn-color-bg-disabled) !important;
        opacity: 0.5;
        box-shadow: none !important;
    }
}

.button.dense {
    min-height: 28px;
    height: 28px;
}

.button .ripple {
    background-color: var(--btn-color-bg-ripple);
}

.button.primary {
    --btn-color-text : var(--on-color);
    --btn-color-bg : var(--primary-color);
    --btn-color-bg-hover : var(--primary-color-hover);
    --btn-color-bg-active : var(--primary-color-active);
    --btn-color-bg-ripple : var(--primary-color-ripple);
    --btn-color-bg-hover-a : var(--primary-color-hover-a4);
    --btn-color-bg-active-a : var(--primary-color-active-a3);

    --btn-color-text-disabled : var(--disabled-color);
    --btn-color-bg-disabled : var(--on-disabled-color);
}

.button.secondary {
    --btn-color-text : var(--on-color);
    --btn-color-bg : var(--secondary-color);
    --btn-color-bg-hover : var(--secondary-color-hover);
    --btn-color-bg-active : var(--secondary-color-active);
    --btn-color-bg-ripple : var(--secondary-color-ripple);
    --btn-color-bg-hover-a : var(--secondary-color-hover-a4);
    --btn-color-bg-active-a : var(--secondary-color-active-a3);

    --btn-color-text-disabled : var(--disabled-color);
    --btn-color-bg-disabled : var(--on-disabled-color);
}

.button.on-color {
    --btn-color-text : var(--on-color-a4);
    --btn-color-bg : var(--on-color);
    --btn-color-bg-hover : var(--on-color-hover);
    --btn-color-bg-active : var(--on-color-active);
    --btn-color-bg-ripple : var(--on-color-ripple);
    --btn-color-bg-hover-a : var(--on-color-hover-a4);
    --btn-color-bg-active-a : var(--on-color-active-a3);

    --btn-color-text-disabled : var(--on-color);
    --btn-color-bg-disabled : var(--on-color-disabled);
}

.button.surface {
    --btn-color-text : var(--on-surface-color);
    --btn-color-bg : var(--surface-color);
    --btn-color-bg-hover : var(--surface-color-hover);
    --btn-color-bg-active : var(--surface-color-active);
    --btn-color-bg-ripple : var(--surface-color-ripple);
    --btn-color-bg-hover-a : var(--surface-color-hover-a4);
    --btn-color-bg-active-a : var(--surface-color-active-a2);

    --btn-color-text-disabled : var(--disabled-color);
    --btn-color-bg-disabled : var(--on-disabled-color);
}

.button.on-surface {
    --btn-color-text : var(--surface-color);
    --btn-color-bg : var(--on-surface-color);
    --btn-color-bg-hover : var(--on-surface-color-hover);
    --btn-color-bg-active : var(--on-surface-color-active);
    --btn-color-bg-ripple : var(--on-surface-color-ripple);
    --btn-color-bg-hover-a : var(--on-surface-color-hover-a2);
    --btn-color-bg-active-a : var(--on-surface-color-active-a2);

    --btn-color-text-disabled : var(--disabled-color);
    --btn-color-bg-disabled : var(--on-disabled-color);
}

.button.outline {
    color: var(--btn-color-bg);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--btn-color-bg);

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover-a);
    }
    &:active {
        background-color: var(--btn-color-bg-active-a);
    }
    &.disabled {
        color: var(--btn-color-text-disabled) !important;
        border-color: var(--btn-color-text-disabled) !important;
        background-color: transparent !important;
    }
}

.button.text {
    color: var(--btn-color-bg);

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover-a);
    }
    &:active {
        background-color: var(--btn-color-bg-active-a);
    }
    &.disabled {
        color: var(--btn-color-text-disabled) !important;
        background-color: transparent !important;
    }
}

.button.icon {
    @extend %hbox-center;
    position: relative;
    transition: background-color 0.25s ease-in,
                color 0.25s ease-in;

    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 100%;

    font-weight: unset;
    text-transform: unset;
    overflow: visible;

    color: var(--btn-color-bg);

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover-a);
    }
    &:active {
        background-color: var(--btn-color-bg-active-a);
    }
    &.disabled {
        color: var(--btn-color-text-disabled) !important;
        background-color: transparent !important;
    }
}

.button.icon > i {
    padding: 6px;
    border-radius: 100%;
    font-size: 24px;
    margin: 0;
    transition: background-color 0.25s ease-in,
                color 0.25s ease-in;
}

.button.icon.dense {
    min-width: 28px;
    min-height: 28px;
    width: 28px;
    height: 28px;
}

.button.icon.dense > i {
    font-size: 18px;
    padding: 5px;
}

.button.icon .ripple {
    left: 50% !important;
    top: 50% !important;
}

.button.icon .ripple.expand {
    animation: rippleExpandLimited 0.5s ease-out;
}

.button.floating {
    background-color: var(--btn-color-bg);
    color: var(--btn-color-text );

    align-items: center;
    justify-content: center;

    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
    border-radius: 100%;
    padding: 0;

    @extend %elevation-6;
    z-index: 6;

    > i {
        margin: 0;
        font-size: 24px;
    }

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover);
    }
    &:active {
        background-color: var(--btn-color-bg-active);
        @extend %elevation-12;
    }

    &.disabled {
        opacity: 0.5;
        box-shadow: none !important;
    }
}
.button.floating.dense {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
}
.button.floating.mini {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
}

.button.floating .ripple {
    left: 50% !important;
    top: 50% !important;
}

.button.floating .ripple.expand {
    animation: rippleExpandLimited 0.5s ease-out;
}


.button.chip {
    @extend %hbox-center;
    position: relative;
    transition: background-color 0.25s ease,
    color 0.25s ease;

    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 100px;

    font-weight: unset;
    text-transform: unset;
    overflow: hidden;

    color: var(--btn-color-bg);
    background-color: var(--btn-color-bg-hover-a);

    &:hover, &:focus {
        background-color: var(--btn-color-bg-hover-a);
    }
    &:active {
        background-color: var(--btn-color-bg-active-a);
    }
    &.disabled {
        color: var(--btn-color-text-disabled) !important;
        background-color: var(--btn-color-bg-disabled);
    }
}

.button.chip > i {
    padding: 4px;
    border-radius: 100%;
    font-size: 24px;
    margin: 0;
    transition: background-color 0.25s ease-in,
    color 0.25s ease-in;
}

.button.chip.dense {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
}

.button.chip.dense > i {
    font-size: 18px;
    padding: 3px;
}

.drop-down-button {
    min-width: 64px;
    min-height: 36px;
    border-radius: 4px;
    option {
        display: none;
    }
    > .button {
        width: 100%;
    }
}
.drop-down-button.dense {
    min-height: 28px;
    height: 28px;
}