@use "colors";
@use "main";
@use "buttons";

.main {
    @extend %hbox;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    > .navigator-split {
        @extend %vbox;
        align-items: stretch;
        position: relative;
        flex-grow: 1;
        max-width: 100%;

        > .content {
            @extend %hbox;
            flex: 1;

            min-height: 0;
            position: relative;

            background-color: var(--background-color);
        }

        > .statusbar {
            width: 100%;
            height: 16px;
            background-color: var(--primary-color-dark);
        }
    }

    > .navigator {
        @extend %vbox;

        position: absolute;
        top: 0;
        visibility: hidden;

        width: calc(100% + 256px);
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 16;

        .drawer {
            @extend %vbox;
            @extend %elevation-16;

            width: min(256px, 100% - 56px);
            height: 100%;
            background-color: var(--surface-color);
        }
    }

    > .navigator.close {
        visibility: hidden;
    }

    > .navigator.open {
        visibility: visible;
    }
}

@media (min-width: main.$big-screen) {
    .main {
        > .navigator-split {
            max-width: calc(100% - 256px);
            > .statusbar {
                width: calc(100% + 256px);
                height: 16px;
                margin-left: -256px;
                z-index: 2;
            }
        }

        > .navigator {
            left: 0 !important;
            visibility: visible !important;
            max-width: min(256px, 100% - 56px);
            position: relative;
            border-right: 1px var(--on-surface-color-a3) solid;
            background-color: transparent !important;
            z-index: 1;
            .drawer {
                width: 100%;
                box-shadow: none !important;
            }
        }
        .hamburger {
            display: none;
        }
    }
}

@keyframes toDisplayNone {
    99% {display: flex}
    100% {display: none}
}
