:root {
  --pr-color: #2196f3;
  --pr-color-light: #64b5f6;
  --pr-color-dark: #1565c0;
  --pr-an-color: #2979ff;
  --pr-an-color-light: #448aff;
  --pr-an-color-dark: #2962ff;
  --sc-color: #e91e63;
  --sc-color-light: #f06292;
  --sc-color-dark: #c2185b;
  --sc-an-color: #f50057;
  --sc-an-color-light: #ff4081;
  --sc-an-color-dark: #c51162;
  --surface-color: #fff;
  --surface-an-color: #eee;
  --surface-an-color-light: #fff;
  --surface-an-color-dark: #e0e0e0;
  --tooltip-color: #616161;
  --on-tooltip-color: #fff;
  --background-color: #f5f5f5;
  --error-color: #B00020;
  --on-primary-color: #fff;
  --on-secondary-color: #fff;
  --on-background-color: #000;
  --on-surface-color: #000;
  --on-error-color: #fff;
  --pr-color-a0: rgba(33, 150, 243, 0.5);
  --pr-color-light-a0: rgba(100, 181, 246, 0.5);
  --pr-color-dark-a0: rgba(21, 101, 192, 0.5);
  --pr-an-color-a0: rgba(41, 121, 255, 0.5);
  --pr-an-color-light-a0: rgba(68, 138, 255, 0.5);
  --pr-an-color-dark-a0: rgba(41, 98, 255, 0.5);
  --sc-color-a0: rgba(233, 30, 99, 0.5);
  --sc-color-light-a0: rgba(240, 98, 146, 0.5);
  --sc-color-dark-a0: rgba(194, 24, 91, 0.5);
  --sc-an-color-a0: rgba(245, 0, 87, 0.5);
  --sc-an-color-light-a0: rgba(255, 64, 129, 0.5);
  --sc-an-color-dark-a0: rgba(197, 17, 98, 0.5);
  --surface-color-a0: rgba(255, 255, 255, 0.5);
  --surface-an-color-a0: rgba(238, 238, 238, 0.5);
  --surface-an-color-light-a0: rgba(255, 255, 255, 0.5);
  --surface-an-color-dark-a0: rgba(158, 158, 158, 0.5);
  --background-color-a0: rgba(245, 245, 245, 0.5);
  --error-color-a0: rgba(#B00020, 0.50);
  --on-primary-color-a0: rgba(255, 255, 255, 0.5);
  --on-secondary-color-a0: rgba(255, 255, 255, 0.5);
  --on-background-color-a0: rgba(0, 0, 0, 0.5);
  --on-surface-color-a0: rgba(0, 0, 0, 0.5);
  --on-error-color-a0: rgba(255, 255, 255, 0.5);
  --pr-color-a1: rgba(33, 150, 243, 0.25);
  --pr-color-light-a1: rgba(100, 181, 246, 0.25);
  --pr-color-dark-a1: rgba(21, 101, 192, 0.25);
  --pr-an-color-a1: rgba(41, 121, 255, 0.25);
  --pr-an-color-light-a1: rgba(68, 138, 255, 0.25);
  --pr-an-color-dark-a1: rgba(41, 98, 255, 0.25);
  --sc-color-a1: rgba(233, 30, 99, 0.25);
  --sc-color-light-a1: rgba(240, 98, 146, 0.25);
  --sc-color-dark-a1: rgba(194, 24, 91, 0.25);
  --sc-an-color-a1: rgba(245, 0, 87, 0.25);
  --sc-an-color-light-a1: rgba(255, 64, 129, 0.25);
  --sc-an-color-dark-a1: rgba(197, 17, 98, 0.25);
  --surface-color-a1: rgba(255, 255, 255, 0.25);
  --surface-an-color-a1: rgba(238, 238, 238, 0.25);
  --surface-an-color-light-a1: rgba(255, 255, 255, 0.25);
  --surface-an-color-dark-a1: rgba(158, 158, 158, 0.25);
  --background-color-a1: rgba(245, 245, 245, 0.25);
  --error-color-a1: rgba(#B00020, 0.25);
  --on-primary-color-a1: rgba(255, 255, 255, 0.25);
  --on-secondary-color-a1: rgba(255, 255, 255, 0.25);
  --on-background-color-a1: rgba(0, 0, 0, 0.25);
  --on-surface-color-a1: rgba(0, 0, 0, 0.25);
  --on-error-color-a1: rgba(255, 255, 255, 0.25);
  --pr-color-a2: rgba(33, 150, 243, 0.15);
  --pr-color-light-a2: rgba(100, 181, 246, 0.15);
  --pr-color-dark-a2: rgba(21, 101, 192, 0.15);
  --pr-an-color-a2: rgba(41, 121, 255, 0.15);
  --pr-an-color-light-a2: rgba(68, 138, 255, 0.15);
  --pr-an-color-dark-a2: rgba(41, 98, 255, 0.15);
  --sc-color-a2: rgba(233, 30, 99, 0.15);
  --sc-color-light-a2: rgba(240, 98, 146, 0.15);
  --sc-color-dark-a2: rgba(194, 24, 91, 0.15);
  --sc-an-color-a2: rgba(245, 0, 87, 0.15);
  --sc-an-color-light-a2: rgba(255, 64, 129, 0.15);
  --sc-an-color-dark-a2: rgba(197, 17, 98, 0.15);
  --surface-color-a2: rgba(255, 255, 255, 0.15);
  --surface-an-color-a2: rgba(238, 238, 238, 0.15);
  --surface-an-color-light-a2: rgba(255, 255, 255, 0.15);
  --surface-an-color-dark-a2: rgba(158, 158, 158, 0.15);
  --background-color-a2: rgba(245, 245, 245, 0.15);
  --error-color-a2: rgba(#B00020, 0.15);
  --on-primary-color-a2: rgba(255, 255, 255, 0.15);
  --on-secondary-color-a2: rgba(255, 255, 255, 0.15);
  --on-background-color-a2: rgba(0, 0, 0, 0.15);
  --on-surface-color-a2: rgba(0, 0, 0, 0.15);
  --on-error-color-a2: rgba(255, 255, 255, 0.15);
}

.button.contained {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.18);
}

.button.contained:hover, .button.contained:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.18);
}

.button.floating {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
}

.button.contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.18);
}

.button.floating:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.18);
}

@font-face {
  font-family: "Roboto-Flex";
  src: url(css/fonts/Roboto.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}

.tab-view, .hbox {
  display: flex;
  flex-direction: row;
}

.fill {
  flex-grow: 1;
}

.button, .button.icon, .hbox-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main, html, body, .vbox {
  display: flex;
  flex-direction: column;
}

.vbox-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html, body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto-Flex, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
}

main {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

main {
  padding: 4px 4px 4px 4px;
}
main > * {
  margin: 4px 4px 4px 4px;
}

main div {
  padding: 4px 4px 4px 4px;
}
main div > * {
  margin: 4px 4px 4px 4px;
}

@keyframes rippleExpand {
  0% {
    width: 20px;
    padding-bottom: 20px;
    opacity: 0.5;
  }
  100% {
    width: 150%;
    padding-bottom: 150%;
    opacity: 0;
  }
}
@keyframes rippleExpandLimited {
  0% {
    width: 20px;
    padding-bottom: 20px;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    padding-bottom: 100%;
    opacity: 0;
  }
}
.ripple {
  border-radius: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: var(--on-surface-color-a1);
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

.ripple.expand {
  animation: rippleExpand 0.5s ease-out;
}

.button {
  position: relative;
  cursor: pointer;
  transition: background-color 0.25s ease-in, color 0.25s ease-in, box-shadow 0.25s ease-in;
  min-width: 64px;
  min-height: 36px;
  height: 36px;
  border-radius: 4px;
  padding: 0 16px 0 16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  user-select: none;
  --btn-color-text: var(--on-surface-color);
  --btn-color-bg: var(--surface-color);
  --btn-color-bg-hover: var(--surface-an-color);
  --btn-color-bg-active: var(--surface-an-color-dark);
  --btn-color-bg-ripple: var(--surface-an-color-dark);
  --btn-color-bg-hover-a: var(--surface-an-color-a1);
  --btn-color-bg-active-a: var(--surface-an-color-dark-a1);
  --btn-color-bg-ripple-a: var(--surface-an-color-dark-a1);
  --btn-color-text-disabled: var(--on-surface-color);
  --btn-color-bg-disabled: var(--on-surface-color-a1);
}

.button > span {
  z-index: 1;
}

.button > i {
  z-index: 1;
  margin: 0 8px 0 -4px;
  font-size: 18px;
}

.button.disabled {
  opacity: 0.5;
  cursor: auto;
}
.button.disabled .ripple {
  display: none !important;
}

.button.contained {
  background-color: var(--btn-color-bg);
  color: var(--btn-color-text);
}
.button.contained:hover, .button.contained:focus {
  background-color: var(--btn-color-bg-hover);
}
.button.contained:active {
  background-color: var(--btn-color-bg-active);
}
.button.contained.disabled {
  color: var(--btn-color-text-disabled);
  background-color: var(--btn-color-bg-disabled) !important;
  opacity: 0.5;
  box-shadow: none !important;
}

.button.dense {
  min-height: 28px;
  height: 28px;
}

.button.contained .ripple {
  background-color: var(--btn-color-bg-ripple);
}

.button.primary {
  --btn-color-text: var(--on-primary-color);
  --btn-color-bg: var(--pr-color);
  --btn-color-bg-hover: var(--pr-an-color);
  --btn-color-bg-active: var(--pr-an-color-dark);
  --btn-color-bg-ripple: var(--pr-an-color-dark);
  --btn-color-bg-hover-a: var(--pr-an-color-a2);
  --btn-color-bg-active-a: var(--pr-an-color-dark-a1);
  --btn-color-text-disabled: var(--on-surface-color);
  --btn-color-bg-disabled: var(--on-surface-color-a1);
}

.button.secondary {
  --btn-color-text: var(--on-secondary-color);
  --btn-color-bg: var(--sc-color);
  --btn-color-bg-hover: var(--sc-an-color);
  --btn-color-bg-active: var(--sc-an-color-dark);
  --btn-color-bg-ripple: var(--sc-an-color-dark);
  --btn-color-bg-hover-a: var(--sc-an-color-a2);
  --btn-color-bg-active-a: var(--sc-an-color-dark-a1);
  --btn-color-text-disabled: var(--on-surface-color);
  --btn-color-bg-disabled: var(--on-surface-color-a1);
}

.button.outline {
  color: var(--btn-color-bg);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-color-bg);
}
.button.outline:hover, .button.outline:focus {
  background-color: var(--btn-color-bg-hover-a);
}
.button.outline:active {
  background-color: var(--btn-color-bg-active-a);
}
.button.outline.disabled {
  color: var(--btn-color-text-disabled) !important;
  border-color: var(--btn-color-text-disabled) !important;
  background-color: transparent !important;
}

.button.text {
  color: var(--btn-color-bg);
}
.button.text:hover, .button.text:focus {
  background-color: var(--btn-color-bg-hover-a);
}
.button.text:active {
  background-color: var(--btn-color-bg-active-a);
}
.button.text.disabled {
  color: var(--btn-color-text-disabled) !important;
  background-color: transparent !important;
}

.button.icon {
  position: relative;
  cursor: pointer;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 100%;
  font-weight: unset;
  text-transform: unset;
  overflow: visible;
}

.button.icon > i {
  padding: 6px;
  border-radius: 100%;
  font-size: 24px;
  margin: 0;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
}

.button.icon {
  color: var(--pr-color);
}
.button.icon:hover {
  background-color: unset;
}
.button.icon:focus, .button.icon:active {
  background-color: unset;
}

.button.icon.dense {
  min-width: 28px;
  min-height: 28px;
  width: 28px;
  height: 28px;
}

.button.icon.dense > i {
  font-size: 18px;
  padding: 5px;
}

.button.icon .ripple {
  background-color: var(--surface-an-color-dark);
  left: 50% !important;
  top: 50% !important;
}

.button.icon .ripple.expand {
  animation: rippleExpandLimited 0.5s ease-out;
}

.button.icon.primary {
  color: var(--pr-color);
}
.button.icon.primary:hover > i, .button.icon.primary:focus > i {
  background-color: var(--pr-an-color-light-a2);
}
.button.icon.primary:active > i {
  background-color: var(--pr-an-color-a1);
}

.button.icon.primary .ripple {
  background-color: var(--pr-an-color-dark);
}

.button.icon.secondary {
  color: var(--sc-color);
}
.button.icon.secondary:hover > i, .button.icon.secondary:focus > i {
  background-color: var(--sc-an-color-light-a2);
}
.button.icon.secondary:active > i {
  background-color: var(--sc-an-color-a1);
}

.button.icon.secondary .ripple {
  background-color: var(--sc-an-color-dark);
}

.button.icon.on-primary {
  color: var(--on-primary-color);
}
.button.icon.on-primary:hover > i, .button.icon.on-primary:focus > i {
  background-color: var(--on-primary-color-a2);
}
.button.icon.on-primary:active > i {
  background-color: var(--on-primary-color-a1);
}

.button.icon.on-primary .ripple {
  background-color: var(--on-primary-color);
}

.button.icon.on-secondary {
  color: var(--on-secondary-color);
}
.button.icon.on-secondary:hover > i, .button.icon.on-secondary:focus > i {
  background-color: var(--on-secondary-color-a2);
}
.button.icon.on-secondary:active > i {
  background-color: var(--on-secondary-color-a1);
}

.button.icon.on-secondary .ripple {
  background-color: var(--on-secondary-color);
}

.button.floating {
  background-color: var(--btn-color-bg);
  color: var(--btn-color-text);
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  max-width: 56px;
  max-height: 56px;
  border-radius: 100%;
  padding: 0;
  z-index: 6;
}
.button.floating > i {
  margin: 0;
  font-size: 24px;
}
.button.floating:hover, .button.floating:focus {
  background-color: var(--btn-color-bg-hover);
}
.button.floating:active {
  background-color: var(--btn-color-bg-active);
}
.button.floating.disabled {
  opacity: 0.5;
  box-shadow: none !important;
}

.button.floating.dense {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.button.floating.mini {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
}

.button.floating .ripple {
  left: 50% !important;
  top: 50% !important;
}

.button.floating .ripple.expand {
  animation: rippleExpandLimited 0.5s ease-out;
}

.tab-view {
  width: 100%;
  height: 100%;
  background-color: var(--surface-color);
}

/*# sourceMappingURL=tabview.css.map */
