@use "colors";
@use "main";
@use "buttons";

.tree-view {
    position: relative;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--surface-color);

    .tree-item {
        @extend %hbox;
        justify-content: start;
        align-items: center;
        padding: 0 16px 0 8px;
        position: relative;
        overflow: hidden;

        width: 100%;
        height: 48px;
        background-color: colors.$color-white;
        user-select: none;
        font-weight: 400;

        &:not(.empty, .selected):hover {
            background-color: var(--surface-color-hover);
        }
        &:not(.empty, .selected):active:hover {
            background-color : var(--surface-color-active);
        }
        &.selected {
            background-color : var(--surface-color-active);
        }

        > span {
            min-width: 128px;
            width: 100%;
            height: 48px;
            line-height: 48px;
            flex-grow: 1;
        }

        > i {
            font-size: 18px;
            padding: 5px;
            border-radius: 100%;
        }

        > .left {
            margin-right: 8px;

            color: var(--surface-color);
            background-color : var(--on-surface-color-a1);
        }

        > .fold {
            opacity: 0;
            font-size: 18px;
            padding: 0;

            color: var(--on-surface-color-a0);
        }

        > .fold.folder {
            opacity: 1;
            cursor: pointer;
        }

        .ripple {
            background-color : var(--surface-color-ripple);
        }

        &.negative, &.empty {
            i, span {
                display: none;
            }
            > .ripple {
                display: none;
            }
            background-color: var(--surface-color);
        }
        &.negative {
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.14);
        }
    }

    .tree-drag-item {
        position: fixed;
        display: none;
        background-color: var(--surface-color);
        width: inherit;
        z-index: 64;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        overflow: hidden;

        &.dragged {
            display: flex;
            cursor: grabbing;
        }

        .tree-item {
            background-color: var(--surface-color) !important;
        }
    }

    .tree-content {
        position: relative;
        top : 0;
        min-width: fit-content;
        width: 100%;
    }

    .tree-drop-line {
        display: none;
        position: absolute;
        top: 0;
        height: 4px;
        background-color: var(--primary-color);
        z-index: 0;

        &.dragged {
            display: flex;
        }
    }

    .ident {
        @extend %hbox;
        height: 100%;
        align-items: start;
    }
    .ident .line {
        width: 1px;
        height: 100%;
        background-color: var(--on-surface-color-a3);
        margin-left: 35px;
        margin-right: 0;
    }
    .ident .line.end {
        height: 60%;
    }

    .tree-scroll-area {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .tree-scroll {
        display: flex;
        width: var(--scroll-size);
        height: 100%;
        background-color: var(--scroll-bg);
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        .tree-scroll-bar {
            position: absolute;
            width: 100%;
            min-height: 64px;
            background-color: var(--scroll-color);
        }
    }
}

.tree-view.dense {
    .tree-item {
        height: 36px;

        > span {
            height: 36px;
            line-height: 36px;
        }

        > i {
            font-size: 16px;
            padding: 4px;
            border-radius: 100%;
        }

        > .fold {
            font-size: 16px;
            padding: 0;
        }
        .ident .line {
            margin-left: 27px;
        }
    }
    .tree-drop-line {
        margin-left: calc(var(--drop-ident) * 28px);
        width: calc(100% - var(--drop-ident) * 28px);
    }
}