@use "../../css/colors";
@use "../../css/main";
@use "../../css/buttons";

$sprite-menu-line: colors.$color-grey-800;
$sprite-menu-bg: colors.$color-grey-600;
$sprite-menu-bg-hover: mix(colors.$color-grey-600, colors.$color-grey-500, 50%);
$sprite-menu-bg-active: colors.$color-grey-500;
$sprite-menu-bg-fade: fade-out(colors.$color-grey-600, 0.25);

$zindex-canvas: 1;
$zindex-tools-docked: 2;
$zindex-tools-floating: 3;

/*$sprite-menu-line: var(--on-surface-color-a3);//colors.$color-grey-800;
$sprite-menu-bg: var(--surface-color);//colors.$color-grey-600;
$sprite-menu-bg-hover: var(--surface-color-hover);//mix(colors.$color-grey-600, colors.$color-grey-500, 50%);
$sprite-menu-bg-active: var(--surface-color-active);//colors.$color-grey-500;
$sprite-menu-bg-fade: var(--surface-color-a3);//fade-out(colors.$color-grey-600, 0.5);*/

.split-panel-hor {
    @extend %hbox;
    justify-content: start;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.split-panel-ver {
    @extend %vbox;
    justify-content: start;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

//<editor-fold desc="DRAG-DROP">

.draggable-view {
    z-index: 5;
    background-color: $sprite-menu-bg;
    position: relative;
    &.dragging {
        z-index: unset;
    }
}

.draggable-view:has(>.drag-holder) {
    background-color: $sprite-menu-bg-fade;
}

.drag-holder {
    @extend %elevation-8;
    border-radius: 4px;
    z-index: 10;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: $sprite-menu-bg;
}

.sprite-drop-line {
    display: none;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--primary-color);
}
.sprite-drop-line.dragged {
    display: flex;
    z-index: 6;
}
.sprite-drop-line.horizontal {
    width: 100%;
}
.sprite-drop-line.vertical {
    height: 100%;
}

.split-panel-hor > .draggable-view {
    border-top: solid 2px $sprite-menu-line;
    border-bottom: solid 1px $sprite-menu-line;

    .drag {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        color: $sprite-menu-line;
        width: 100%;
        max-height: 24px;
        cursor: grab;

        > i {
            font-size: 18px;
        }
    }

    + .draggable-view {
        border-left: solid 1px $sprite-menu-line;
    }
}

.split-panel-ver > .draggable-view {
    border-left: solid 2px $sprite-menu-line;
    border-right: solid 1px $sprite-menu-line;

    .drag {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        color: $sprite-menu-line;
        height: 100%;
        max-width: 24px;
        cursor: grab;

        > i {
            font-size: 18px;
            transform: rotate(90deg);
        }
    }

    + .draggable-view {
        border-top: solid 1px $sprite-menu-line;
    }
}

//</editor-fold>

//<editor-fold desc="TOOLS">

.tools-view {
    .tool-button {
        display: flex;
        width: 32px;
        height: 32px;
        padding: 2px;
        margin: 6px;
        font-size: 24px;
        border-radius: 100%;
        cursor: pointer;
    }

    .tool-button.selected {
        background-color: var(--btn-color-bg-hover-a);

        &:hover, &:focus {
            background-color: var(--btn-color-bg-hover-a);
        }

        &:active {
            background-color: var(--btn-color-bg-active-a);
        }
    }

    .tool-button.disabled {
        opacity: 0.5;
        background-color: transparent;
        cursor: default;
    }

    .color-circle, .alt-color-circle {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        border: 2px solid white;
        background-color: colors.$color-purple;
        border-radius: 100%;
    }
    .color-circle {
        margin: -2px 0 0 -2px;
        z-index: 2;
    }
    .alt-color-circle {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
        position: absolute;
        top: 19px;
        left: 19px;
        z-index: 1;
    }

    &.dragging {
        overflow: visible !important;
    }
}

.tools-view::-webkit-scrollbar {
    display: none;
}

.split-panel-hor > .tools-view {
    @extend %vbox;
    height: 100%;
    width: 48px;
    min-width: 48px;
    overflow-x: hidden;
    overflow-y: auto;

    &.floating {
        position: absolute;
        height: fit-content;
        max-height: 100%;
        border-radius: 4px;
        @extend %elevation-8;
    }
    &.floating:has(>.drag-holder) {
        height: 100%;
    }

    .drag-holder {
        @extend %vbox;
    }
}

.split-panel-ver > .tools-view {
    @extend %hbox;
    width: 100%;
    height: 48px;
    min-height: 48px;
    overflow-x: auto;
    overflow-y: hidden;

    &.floating {
        position: absolute;
        max-width: 100%;
        @extend %elevation-8;
    }

    .drag-holder {
        @extend %hbox;
    }
}

//</editor-fold>

//<editor-fold desc="FRAMES">

.frames-view {
    .frames-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        .frame {
            display: flex;

            &:hover, &:focus {
                background-color: $sprite-menu-bg-hover;
            }

            &:active {
                background-color: $sprite-menu-bg-active;
            }

            .image {
                width: 64px;
                height: 64px;
                position: relative;
                background-image : url("pages/canvas-bg.png");
                background-size : 16px;
                border: 1px solid $sprite-menu-bg;
            }

            .frame-remove {
                position: absolute;
                display: flex;
                right: 0;
                bottom: 0;
                cursor: pointer;
                color: $sprite-menu-line;

                i {
                    font-size: 18px;
                }
            }
        }
    }

    .frame-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 88px;
        max-height: 88px;
        padding: 4px;

        > .button {
            margin: 4px;
        }
    }
}

.split-panel-hor > .frames-view {
    @extend %vbox;
    align-items: center;
    min-width: 96px;
    max-width: 96px;
    height: 100%;
    max-height: 100%;
    padding-bottom: 16px;

    .frames-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 96px;
        height: 100%;

        .frame {
            width: 100%;
            height: 80px;
            min-height: 80px;

            .image {
                margin-top: 8px;
                margin-left: 16px;
            }
        }
    }

    .frame-add-button {
        @extend %vbox;
        width: 64px;
        margin: 8px;
    }

    &.dragging {
        overflow: visible !important;
    }

    .drag-holder {
        @extend %vbox;
        min-width: 96px;
        max-width: 96px;
        align-items: center;
    }
}

.split-panel-ver > .frames-view {
    @extend %hbox;
    align-items: center;
    min-height: 96px;
    max-height: 96px;
    width: 100%;
    max-width: 100%;
    padding-right: 16px;

    .frames-container {
        @extend %hbox;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 96px;

        .frame {
            width: 80px;
            min-width: 80px;
            height: 100%;

            .image {
                margin-top: 16px;
                margin-left: 8px;
            }
        }
    }

    .frame-add-button {
        @extend %hbox;
        height: 64px;
        margin: 8px;
    }

    .drag-holder {
        @extend %hbox;
        min-height: 96px;
        max-height: 96px;
        align-items: center;
    }
}

//</editor-fold>

//<editor-fold desc="LAYERS">

.layers-view {
    .layers-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        .layer {
            display: flex;

            &:hover, &:focus {
                background-color: $sprite-menu-bg-hover;
            }

            &:active {
                background-color: $sprite-menu-bg-active;
            }

            .image {
                width: 64px;
                height: 64px;
                position: relative;
                background-image : url("pages/canvas-bg.png");
                background-size : 16px;
                border: 1px solid $sprite-menu-bg;
            }

            .layer-remove {
                position: absolute;
                display: flex;
                right: 0;
                bottom: 0;
                cursor: pointer;
                color: $sprite-menu-line;

                i {
                    font-size: 18px;
                }
            }

            .layer-hide {
                position: absolute;
                display: flex;
                cursor: pointer;
                left: 0;
                top: 0;
                color: $sprite-menu-line;

                i {
                    font-size: 18px;
                }
            }
        }
    }

    .layer-add-button {
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        cursor: pointer;
    }
}

.split-panel-hor > .layers-view {
    @extend %vbox;
    align-items: center;
    min-width: 96px;
    max-width: 96px;
    height: 100%;
    max-height: 100%;
    padding-bottom: 16px;

    .layers-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 96px;
        height: 100%;

        .layer {
            width: 100%;
            height: 80px;
            min-height: 80px;

            .image {
                margin-top: 8px;
                margin-left: 16px;
            }
        }
    }

    .layer-add-button {
        @extend %vbox;
        width: 64px;
        margin: 8px;
    }

    &.dragging {
        overflow: visible !important;
    }
    .drag-holder {
        @extend %vbox;
        min-width: 96px;
        max-width: 96px;
        align-items: center;
    }
}

.split-panel-ver > .layers-view {
    @extend %hbox;
    align-items: center;
    min-height: 96px;
    max-height: 96px;
    width: 100%;
    max-width: 100%;
    padding-right: 16px;

    .layers-container {
        @extend %hbox;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 96px;

        .layer {
            width: 80px;
            min-width: 80px;
            height: 100%;

            .image {
                margin-top: 16px;
                margin-left: 8px;
            }
        }
    }

    .layer-add-button {
        @extend %hbox;
        height: 64px;
        margin: 8px;
    }

    &.dragging {
        overflow: visible !important;
    }
    .drag-holder {
        @extend %hbox;
        min-height: 96px;
        max-height: 96px;
        align-items: center;
    }
}

//</editor-fold>

//<editor-fold desc="COLORS">

.colors-view {
    .color-matrix {
        border-radius: 100%;
        width: 240px;
        height: 240px;
        background: linear-gradient(to top, rgba(128, 128, 128, 1), rgba(0, 0, 0, 0)),
        linear-gradient(to right, #ff0000 0%, #ffff00 15%, #00ff00 30%, #00ffff 45%, #0000ff 60%, #ff00ff 75%, #ff0000 100%);
        border: 1px solid white;
        outline: 2px solid black;
    }
}

.split-panel-hor > .colors-view {
    @extend %vbox;
    align-items: center;
    min-width: 256px;
    height: 100%;
}

.split-panel-ver > .colors-view {
    @extend %hbox;
    align-items: center;
    min-height: 128px;
    width: 100%;
}

//</editor-fold>

//<editor-fold desc="CANVAS">
.canvas-view {
    display: flex;
    min-height: 64px;
    min-width: 64px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: var(--background-color);
    position: relative;

    .canvas-cursor {
        display: flex;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 4;
        pointer-events: none;
        mix-blend-mode: difference;
        border-radius : 200px;
        border : 0.5px solid #FFFFFF;
        outline : 0.5px solid #88888880;
    }

    .canvas-position {
        display: flex;
        position: absolute;
        width: 1px;
        height: 1px;
        max-width: 1px;
        max-height: 1px;
        overflow: visible;

        .canvas-owner {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
        }

        .canvas-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("pages/canvas-bg.png");
            image-rendering: pixelated;
            z-index: 1;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
            z-index: 5;
        }

        canvas {
            position: absolute;
            image-rendering: pixelated;
            z-index: 7;
        }
    }
}
//</editor-fold>