@use "../../css/colors";
@use "../../css/main";
@use "../../css/buttons";

$sprite-menu-line: colors.$color-grey-800;
$sprite-menu-bg: colors.$color-grey-600;
$sprite-menu-bg-hover: mix(colors.$color-grey-600, colors.$color-grey-500, 50%);
$sprite-menu-bg-active: colors.$color-grey-500;
$sprite-menu-bg-fade: fade-out(colors.$color-grey-600, 0.25);

$zindex-canvas: 1;
$zindex-tools-docked: 2;
$zindex-tools-floating: 3;
$zindex-tools-floating-selected: 4;
$zindex-tools-line: 5;
$zindex-tools-drag: 6;

/*$sprite-menu-line: var(--on-surface-color-a3);//colors.$color-grey-800;
$sprite-menu-bg: var(--surface-color);//colors.$color-grey-600;
$sprite-menu-bg-hover: var(--surface-color-hover);//mix(colors.$color-grey-600, colors.$color-grey-500, 50%);
$sprite-menu-bg-active: var(--surface-color-active);//colors.$color-grey-500;
$sprite-menu-bg-fade: var(--surface-color-a3);//fade-out(colors.$color-grey-600, 0.5);*/

.split-panel-hor {
    @extend %hbox;
    justify-content: start;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.split-panel-ver {
    @extend %vbox;
    justify-content: start;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

//<editor-fold desc="DRAG-DROP">

.draggable-view {
    background-color: $sprite-menu-bg;
    position: relative;
    z-index: $zindex-tools-docked;

    &.floating {
        @extend %elevation-8;
        position: absolute;
        border-radius: 4px;
        z-index : $zindex-tools-floating;
    }
    &.dragging {
        z-index : $zindex-tools-drag;
    }
}

.draggable-view.vertical {
    @extend %vbox;
    height: 100%;
    max-height: 100%;
    border-top: solid 2px $sprite-menu-line;
    border-bottom: solid 1px $sprite-menu-line;

    .drag, .close-view {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        color: $sprite-menu-line;
        width: 100%;
        max-height: 24px;
        cursor: grab;

        > i {
            font-size: 18px;
        }
    }
    .close-view {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $sprite-menu-line;
        height: 18px;
        cursor: default;
        margin-top: 8px;
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 12px;
            width: 12px;
            cursor: pointer;
            border-radius: 100px;
            background-color: var(--on-color);
            > i {
                font-size: 12px;
                color: var($sprite-menu-bg);
            }
        }
    }

    &:not(.floating) + .draggable-view:not(.floating) {
        border-left: solid 1px $sprite-menu-line;
    }

    &.floating {
        height: fit-content;
        max-height: 100%;
    }
}

.draggable-view.horizontal {
    @extend %hbox;
    width: 100%;
    max-width: 100%;
    border-left: solid 2px $sprite-menu-line;
    border-right: solid 1px $sprite-menu-line;

    .drag, .close-view {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        color: $sprite-menu-line;
        height: 100%;
        max-width: 24px;
        cursor: grab;

        > i {
            font-size: 18px;
            transform: rotate(90deg);
        }
    }
    .close-view {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $sprite-menu-line;
        width: 18px;
        margin-left: 8px;
        cursor: default;
        > div {
            height: 12px;
            width: 12px;
            cursor: pointer;
            border-radius: 100px;
            background-color: var(--on-color);
            > i {
                font-size: 12px;
                color: var($sprite-menu-bg);
            }
        }
    }

    &:not(.floating) + .draggable-view:not(.floating) {
        border-top: solid 1px $sprite-menu-line;
    }

    &.floating {
        width: fit-content;
        max-width: 100%;
    }
}

.sprite-drop-line {
    display: none;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--primary-color);

    &.dragged {
        display: flex;
        z-index: $zindex-tools-line;
    }
    &.vertical {
        width: 100%;
    }
    &.horizontal {
        height: 100%;
    }
}

//</editor-fold>

//<editor-fold desc="TOOLS">

.tools-view {
    .tool-button {
        display: flex;
        width: 32px;
        height: 32px;
        padding: 2px;
        margin: 6px;
        font-size: 24px;
        border-radius: 100%;
        cursor: pointer;
    }

    .tool-button.selected {
        background-color: var(--btn-color-bg-hover-a);

        &:hover, &:focus {
            background-color: var(--btn-color-bg-hover-a);
        }

        &:active {
            background-color: var(--btn-color-bg-active-a);
        }
    }

    .tool-button.disabled {
        opacity: 0.5;
        background-color: transparent;
        cursor: default;
    }

    .color-circle, .alt-color-circle {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        border: 2px solid white;
        background-color: colors.$color-purple;
        border-radius: 100%;
    }
    .color-circle {
        margin: -2px -3px 0 0;
        z-index: 2;
    }
    .alt-color-circle {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
        position: absolute;
        top: 19px;
        right: 19px;
        z-index: 1;
    }
}

.tools-view::-webkit-scrollbar {
    display: none;
}

.tools-view.vertical {
    width: 48px;
    min-width: 48px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tools-view.horizontal {
    height: 48px;
    min-height: 48px;
    overflow-x: auto;
    overflow-y: hidden;
}

//</editor-fold>

//<editor-fold desc="FRAMES">

.frames-view {
    .frames-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        .frame {
            display: flex;

            &:hover, &:focus {
                background-color: $sprite-menu-bg-hover;
            }

            &:active, &.selected {
                background-color: $sprite-menu-bg-active;
            }

            .image {
                width: 64px;
                height: 64px;
                position: relative;
                background-image : url("pages/canvas-bg.png");
                background-size : 16px;
                border: 1px solid $sprite-menu-bg;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .frame-buttons {
        @extend %vbox;

        .frame-add-btns, .frame-anim-btns {
            @extend %hbox;
        }
        .button {
            margin: 4px;
        }
    }
}

.frames-view.vertical {
    align-items: center;
    min-width: 96px;
    max-width: 96px;
    height: 100%;
    max-height: 100%;
    padding-bottom: 16px;

    .frames-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 96px;
        height: 100%;

        .frame {
            width: 100%;
            height: 80px;
            min-height: 80px;

            .image {
                margin-top: 8px;
                margin-left: 16px;
            }
        }
    }

    .frame-buttons {
        @extend %vbox;
        margin: 8px 0 8px 0;

        .frame-add-btns, .frame-anim-btns {
            @extend %hbox;
        }
    }
}

.frames-view.horizontal {
    align-items: center;
    min-height: 96px;
    max-height: 96px;
    width: 100%;
    padding-right: 16px;

    .frames-container {
        @extend %hbox;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 96px;

        .frame {
            width: 80px;
            min-width: 80px;
            height: 100%;

            .image {
                margin-top: 16px;
                margin-left: 8px;
            }
        }
    }

    .frame-buttons {
        @extend %hbox;
        margin: 0 8px 0 8px;

        .frame-add-btns, .frame-anim-btns {
            @extend %vbox;
        }
    }
}

//</editor-fold>

//<editor-fold desc="LAYERS">

.layers-view {
    .layers-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        .layer {
            display: flex;

            &:hover, &:focus {
                background-color: $sprite-menu-bg-hover;
            }

            &:active, &.selected {
                background-color: $sprite-menu-bg-active;
            }

            .image {
                width: 64px;
                height: 64px;
                position: relative;
                background-image : url("pages/canvas-bg.png");
                background-size : 16px;
                border: 1px solid $sprite-menu-bg;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .layer-hide {
                position: absolute;
                display: flex;
                left: 0;
                top: 0;
                color: $sprite-menu-line;

                i {
                    font-size: 18px;
                }
            }
        }
    }

    .layer-add-button {
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        cursor: pointer;
    }
}

.layers-view.vertical {
    align-items: center;
    min-width: 96px;
    max-width: 96px;
    padding-bottom: 16px;

    .layers-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 96px;
        height: 100%;

        .layer {
            width: 100%;
            height: 80px;
            min-height: 80px;

            .image {
                margin-top: 8px;
                margin-left: 16px;
            }
        }
    }

    .layer-add-button {
        @extend %vbox;
        width: 64px;
        margin: 8px;
    }
}

.layers-view.horizontal {
    align-items: center;
    min-height: 96px;
    max-height: 96px;
    padding-right: 16px;

    .layers-container {
        @extend %hbox;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 96px;

        .layer {
            width: 80px;
            min-width: 80px;
            height: 100%;

            .image {
                margin-top: 16px;
                margin-left: 8px;
            }
        }
    }

    .layer-add-button {
        @extend %hbox;
        height: 64px;
        margin: 8px;
    }
}

//</editor-fold>

//<editor-fold desc="CANVAS">
.canvas-view {
    display: flex;
    min-height: 64px;
    min-width: 64px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: var(--background-color);
    position: relative;
    z-index: $zindex-canvas;

    .canvas-cursor {
        display: flex;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 100;
        pointer-events: none;
        mix-blend-mode: difference;
        border : 0.5px solid #FFFFFF;
        outline : 0.5px solid #88888880;
        border-radius : 100%;
        image-rendering: auto;
        svg {
            display: none;
        }
    }
    .canvas-cursor.pencil {
        border : none;
        outline : none;
        svg {
            display: flex;
            width : 100%;
            height : 100%;
            filter: drop-shadow(0 0 0 #88888880);
        }
    }

    .canvas-position {
        display: flex;
        position: absolute;
        width: 1px;
        height: 1px;
        max-width: 1px;
        max-height: 1px;
        overflow: visible;

        .canvas-owner {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
        }

        .canvas-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("pages/canvas-bg.png");
            image-rendering: pixelated;
            z-index: 0;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
        }

        canvas {
            position: absolute;
            image-rendering: pixelated;
            z-index: 2;
        }
        .canvasC {
            position: absolute;
            image-rendering: pixelated;
            z-index: 100;
            filter : url(#selection-border);
            mix-blend-mode: difference;
        }
    }
}
//</editor-fold>

//<editor-fold desc="BRUSH">

.brush-view {
    align-items: center;
    min-width: 96px;
    max-width: 96px;
    height: 100%;
    max-height: 100%;

    .brush-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 96px;
        height: 100%;

    }

    .brush-sliders {
        @extend %vbox;
        align-items: center;
        justify-content: space-between;
        width: 128px;
        height: 80px;
        margin-top: 32px;
        margin-bottom: 32px;
        transform: rotate(-90deg);
        .slider {
            margin: 8px 0 8px 0;
        }
    }
    .brush-icons {
        @extend %hbox;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px 0 8px;
        .brush-icon {
            > i {
                color: var(--on-color);
                font-size: 18px;
            }
        }
        .brush-text {
            width: 18px;
            text-align: center;
        }
        > input[type=text] {
            font-size: 10px;
            color: var(--on-color);
            &:hover, &:active, &:focus {
                background-color: var(--on-color-a3);
            }
        }
    }

    .brush-preview {
        display: flex;
        width: 80px;
        height: 80px;
        margin: 8px;
        background-image : url("pages/canvas-bg.png");
        background-size : 16px;
        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .brush-divider {
        width: 100%;
        height: 1px;
        background-color: $sprite-menu-line;
        margin: 8px 0 8px 0;
    }

    .brush-options {
        @extend %vbox;
        width: 100%;
        justify-content: center;
        align-items: center;
        .brush-option {
            @extend %hbox;
            width: calc(100% - 16px);
            height: 24px;
            align-items: center;
            font-size: 10px;
            color: var(--on-color);
            span {
                margin-left: 8px;
                line-height: 14px;
            }
        }
    }

    .brush-image {
        @extend %vbox-center;
        width: 100%;
        .button {
            width: calc(100% - 16px);
            margin: 0 8px 0 8px;
        }
    }

    .brush-mode {
        @extend %vbox;
        width: 100%;
        .brush-modes {
            @extend %hbox;
            .button {
                width: 16px;
                margin: 0 4px 0 4px;
                &.selected {
                    background-color: $sprite-menu-bg-active;
                }
            }
        }
    }
}

.brush-view.horizontal {
    align-items: center;
    min-height: 96px;
    max-height: 96px;
    width: 100%;

    .brush-container {
        @extend %hbox;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 96px;
    }

    .sliders {
        height: 80px;
        margin: 16px 8px 16px 8px;
    }

    input[type=range].slider {
        background: var(--on-color);
        &::-webkit-slider-thumb {
            appearance: none;
            background: var(--on-color);
            border: 2px solid var(--on-color);
            &:active {
                outline: 4px solid var(--on-color-a3);
            }
        }
    }
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 5px;
}

input[type=checkbox].disabled {
    opacity: 0.5;
}

//</editor-fold>

//<editor-fold desc="COLORS">

.color-picker-view {
    align-items: center;
    min-width: 192px;
    max-width: 192px;
    min-height: 192px;

    .brush-container {
        @extend %vbox;
        overflow-x: hidden;
        overflow-y: auto;
        width: 192px;
        height: 192px;
    }
    .color-canvas {
        width: 176px;
        height: 176px;
    }
    .color-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 176px;
        height: 176px;
        position: relative;

        .color-circle-mode {
            position: absolute;
            left: 0;
            top: 0;
        }

        .color-circle-rgb {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .color-circle-dropper {
            position: absolute;
            right: 0;
            top: 0;
        }

        .main-color {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            background-color: #FF1000;
            border-radius: 100px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }

        .alt-color {
            position: absolute;
            right: 26px;
            bottom: 0;
            width: 12px;
            height: 12px;
            min-width: 12px;
            min-height: 12px;
            background-color: #FF1000;
            border-radius: 100px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }

        .main-color.selected, .alt-color.selected {
            border: 2px solid var(--on-color);
        }

        .color-hue, .color-sat {
            position: absolute;
            left: 16px;
            top: 86px;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            border: 2px solid white;
            transform: translate(-50%, -50%);
            pointer-events: none;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
        }
    }

    .color-divider {
        width: 100%;
        height: 1px;
        background-color: $sprite-menu-line;
        margin: 8px 0 8px 0;
    }
    .rgb-slider {
        @extend %hbox-center;
        margin: 4px 0 4px 0;
        width: calc(100% - 16px);
        font-size: 10px;
        color: var(--on-color);
        span {
            width: 18px;
            min-width: 18px;
            text-align: center;
            margin-right: 8px;
        }
    }
    .alpha-slider {
        @extend %hbox-center;
        margin: 4px 0 4px 0;
        width: calc(100% - 16px);
        font-size: 10px;
        color: var(--on-color);
        span {
            width: 18px;
            min-width: 18px;
            text-align: center;
            margin-right: 8px;
        }
        .bg-alpha {
            display: flex;
            width: 100%;
            background-image : url("pages/canvas-bg.png");
            background-size : 16px;
            border-radius: 16px;
        }
        .slider {
            appearance: none;
            width: 100%;
            height: 16px;
            background: transparent;
            outline: 2px solid var(--on-color);
            border-radius: 16px;
            &::-webkit-slider-thumb {
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background: transparent;
                border: 2px solid var(--on-color);
                cursor: pointer;
                box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .3);
                &:active {
                    outline: 4px solid var(--on-color-a3);
                }
            }
        }
    }

    .color-r.slider {
        &::-webkit-slider-thumb {
            background: #ee0c3f;
        }
    }
    .color-g.slider {
        &::-webkit-slider-thumb {
            background: #08ad16;
        }
    }
    .color-b.slider {
        &::-webkit-slider-thumb {
            background: #1151d9;
        }
    }
    .text-rgb {
        width: 18px;
        min-width: 18px;
        color: var(--on-color);
        margin-left: 8px;
        font-size: 10px;
        &:hover, &:active, &:focus {
            background-color: var(--on-color-a3);
        }
    }

    .color-history {
        @extend %hbox-center;
        width: calc(100% - 16px);
        .color-block {
            width: 16px;
            height: 16px;
            border: 2px solid var(--on-color);
            border-radius: 2px;
            background-color: #FFFFFF;
            cursor: pointer;
            + .color-block {
                margin-left: 2px;
            }
        }
        .color-block-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            margin-right: 2px;
            color : var(--on-color-a1);
            cursor: pointer;
            border-radius: 16px;
            i {
                font-size: 20px;
            }
            &:hover {
                color : var(--on-color);
            }
        }
    }
}

//</editor-fold>

.gradient-view {
    align-items: center;
    min-width: 192px;
    max-width: 192px;
    min-height: 48px;

    .gradient-line {
        height: 24px;
        width: 180px;
        border-radius: 4px;
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
        //border: 2px solid var(--on-color);
        box-shadow: inset 0 0 0 2px  var(--on-color);
        position: relative;
        .gradient-bg {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            background-image : url("pages/canvas-bg.png");
            background-size : 16px;
            border-radius: 4px;
            z-index: -1;
            pointer-events: none;
        }
        .gradient-node {
            position: absolute;
            height: 24px;
            width: 8px;
            border-radius: 4px;
            border: 2px solid var(--on-color);
            box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .3);
            cursor: pointer;
            transform: translate(-50%, 0);
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;

            .gradient-bg {
                display: none;
            }
        }
    }

    .gradient-tolerance {
        @extend %hbox-center;
        margin: 4px 0 4px 0;
        width: calc(100% - 16px);
        font-size: 10px;
        color: var(--on-color);
        span {
            width: 32px;
            min-width: 32px;
            text-align: center;
            margin-right: 8px;
        }
    }

    .text-tolerance {
        width: 18px;
        min-width: 18px;
        color: var(--on-color);
        margin-left: 8px;
        font-size: 10px;
        &:hover, &:active, &:focus {
            background-color: var(--on-color-a3);
        }
    }

    .gradient-options {
        @extend %hbox;
        font-size: 10px;
        color: var(--on-color);
        width: calc(100% - 16px);
        .gradient-option {
            @extend %hbox;
            align-items: center;
            width: 50%;
            input[type=checkbox] {
                margin-right: 8px;
            }
        }
        + .gradient-options {
            margin-top: 8px;
        }
    }
    .gradient-divider {
        width: 100%;
        height: 1px;
        background-color: $sprite-menu-line;
        margin: 8px 0 8px 0;
    }
}

.sprite-grab-line {
    position: absolute;
    background-color: white;
    width: 1px;
    height: 1px;
    pointer-events: none;
    transform-origin: 0.5px 0.5px;
    mix-blend-mode: difference;
    box-shadow: 0 0 1px 1px #404040;
    .grab-in {
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        background-color: white;
        border-radius: 100%;
        transform: translate(-3px, -3px);
        box-shadow: 0 0 1px 1px #404040;
    }
    .grab-out {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 7px;
        height: 7px;
        background-color: white;
        border-radius: 100%;
        transform: translate(3px, 3px);
        box-shadow: 0 0 1px 1px #404040;
    }
    .grab-radius {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        border: 1px dashed white;
        box-shadow: 0 0 1px 1px #404040;
    }
}

.sprite-selection-box {
    position: absolute;
    border: 1px dashed white;
    mix-blend-mode: difference;
    border-image: repeating-linear-gradient(45deg, white, white 3px, #4F4F4F 3px, #4F4F4F 6px) 1;
    box-shadow: 0 0 0 #404040;
}
.sprite-scale-box {
    position: absolute;
    cursor: move;

    img {
        position: absolute;
        width : 100%;
        height: 100%;
        pointer-events: none;
    }

    .sprite-scale-box-border {
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        border: 1px solid white;
        border-image: repeating-linear-gradient(45deg, white, white 3px, #4F4F4F 3px, #4F4F4F 6px) 1;
        box-shadow: 0 0 0 #404040;
        pointer-events: none;
        z-index: 0;
        mix-blend-mode: difference;
    }

    .sprite-pivot {
        position: absolute;
        width: 17px;
        height: 17px;
        padding: 4px;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        .sprite-pivot-handler {
            width: 9px;
            height: 9px;
            background-color: $sprite-menu-bg;
            border: 1px solid black;
            border-radius: 100%;
            pointer-events: none;
            z-index: 1;
        }
        z-index: 1;
    }

    :nth-child(1) {
        left: 0;
        top:0;
        cursor: nwse-resize;
    }
    :nth-child(2) {
        left: 50%;
        top:0;
        cursor: ns-resize;
    }
    :nth-child(3) {
        left: 100%;
        top:0;
        cursor: nesw-resize;
    }
    :nth-child(4) {
        left: 0;
        top:50%;
        cursor: ew-resize;
    }
    :nth-child(5) {
        left: 50%;
        top: -32px;
        cursor: move;
    }
    :nth-child(6) {
        left: 100%;
        top:50%;
        cursor: ew-resize;
    }
    :nth-child(7) {
        left: 0;
        top:100%;
        cursor: nesw-resize;
    }
    :nth-child(8) {
        left: 50%;
        top:100%;
        cursor: ns-resize;
    }
    :nth-child(9) {
        left: 100%;
        top:100%;
        cursor: nwse-resize;
    }
}
.cursor-out {
    display: none !important;
}